{% extends "layout.html" %}

{% block title %}
    User Registeration
{% endblock %}

{% block main %}
<div class = "container-fluid text-center pt-5 mt-5">
    <form action = '/register' method = 'post'>
        <div class = 'mb-3'>
            <input autocomplete='off' class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class = 'mb-3'>
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class = 'mb-3'>
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <div class = "mb-3 mt-5">
            <button class = "btn btn-primary" type = "submit">Register</button>
        </div>

    </form>
    <div class = 'mb-3 pt-5'>
        <p style = 'color:red;'>{{ top }}</p>
        <p style = 'color:green;'>{{ message }}</p>
    </div>
</div>


{% endblock %}